.Body {
    background: url(./Images/Houston2.jpg);
    box-shadow: inset 0 0 0 1000px rgba(7, 122, 125, 0.9) !important;
    width:100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:100% 100vh;
    position: relative;
    
}
.CompanyName {
  font-family: "Charm", cursive;
  font-weight: 700;
  font-style: normal;
  padding-left: 5vh;
}

.carouselpics {
    height: 60vh;
}
@media screen and (max-width:480px) {
    .carouselpics {
        max-height: 32vh ;
    }
    
}
.TopFont {
    
    text-align: center;
}
.EmailTop {
    text-align: center;
    
    }
.EmailTop2 {
    word-wrap: break-word !important;
} 
.EmailTop3 {
    padding-right: 5vh !important;
}  
.aboutimg {
    width: 100%;
    height: 100%;
}
.carouseldiv {
    width: 100% !important;
    margin: 0 !important;
}
.Navbar1 {
    width: 100% !important;
    
}
.Menu {
    padding-left: 17px !important;
    color: #F5EEDD !important;
}
.Text {
    color: #F5EEDD !important;
}

.HeadingText {
    color:#F5EEDD !important;
}
.Header1 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
  text-decoration: underline;
  }
.Header2 {
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: italic;
  color:#06202B !important;
}
.MemberSection {
    text-align: center;
}
.MemeberHeading {
    font-family: "Charm", cursive;
  font-weight: 700;
  font-style: normal;
  text-decoration: underline;
  color:#06202B !important;
}
.MemberPic {
   width: 45vh;
    height: 40vh;
}
.ServiceSection {
    padding-top: 2vh;
}
.OfferedServicesPics {
    width:100%;
    height: 100%;
}
.ServiceHeader {
    padding: 10vh;
}
.Navbar2 {
    background-color:#06202B;
}
.CtacBtn {
    background-color: #06202B !important;
    color: #F5EEDD !important;
}
.AboutPic {
    width: 100%;
    height: auto;
    border-radius: 10px;
}