extends ../layouts/LayoutTheme

append variables
  - var navigation = false;
  - var Footer = false;

append styles

append scripts

append mainContent
  +Section.py-0 
    .row.min-vh-100.py-6.align-items-center
      .col 
        h1.text-center Start Here!
